<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = __('archives');
if (is_tag()) pageTitle = __('tag') + ': ' + page.tag;
if (is_category()) pageTitle = __('category') + ': ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
if (pageTitle == '') {
    pageTitle = config.title;
} else {
    pageTitle += ' | ' + config.title;
}
%>

<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="<%= config.description %>">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="shortcut icon" href="<%= config.favicon %>"/>
    <% if (config.rss){ %>
        <link rel="alternate" href="<%- config.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>

    <% css('css/aloha') %>
    <% var cdn = theme.cdn;%>
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
        <% theme.stylesheets.forEach(function(url) { %>
            <link rel="stylesheet" href="<%= resourceURL(cdn, config.root, url) %>">
        <% }); %>
    <% } %>

</head>

<body id="body" style="margin-bottom: 0;" class="pushable">

    <div class="ui top fixed menu">
        <a class="item" id="menu-icon"><i class="sidebar icon"></i></a>

        <% Object.keys(config.menu).forEach(function(key) { %>
        <% var className = "item"; %>

        <% if (url_for(config.menu[key].value) == '/' + path.replace('/index.html', '') || (url_for(config.menu[key].value) == '/.' && is_home())) { %>
        <% className = "active item"%>
        <% } %>

        <% var item = config.menu[key];%>
        <a href="<%= item.value %>" class="item" <%= item.target ? 'target="' + item.target + '"' : ''%>>
            <i class="<%= item.icon %> icon"></i>
            <%= __(item.name) %>
        </a>

        <% }); %>
        <!--<a class="item" href=""><i class="github icon"></i></a>-->
    </div>

    <%- partial('_partial/menu')%>

        <div class="pusher body-content">
            <div id="content" class="ui main container">
                <%- body %>
            </div>
            <%- partial('_partial/footer')%>
        </div>

    <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
        <% theme.scripts.forEach(function(url) { %>
            <script src="<%= resourceURL(cdn, config.root, url) %>"></script>
        <% }); %>
    <% } %>

</body>
</html>
